###############################################################################
# SlickEdit/VS project files
###############################################################################
**/*.vpj
**/*.vpw
**/*.vpwhistu
**/*.vpwhist
**/*.vtg
**/*.vcxproj
**/*.filters
**/*.sln
**/*.suo
**/*.db
**/*.tlog
**/*.log
**/*.obj
**/*.tmp
**/*.lastbuildstate
**/*.opendb
**/*.cache
**/*.user

###############################################################################
# CMake project/build files
###############################################################################
**/CMakeCache.txt
**/CMakeFiles/*
**/Makefile
**/cmake_install.cmake
**/bin/*
**/lib/*
**/buildroot/*
**/toolchain/*
**/external/*
external/demonhunter
external/alpha
**/*.db

###############################################################################
# Protocol Buffers
###############################################################################
**/*.pb.cc
**/*.pb.h

###############################################################################
# Qt5
###############################################################################
**/*_automoc.cpp
**/moc_*
moc_*

###############################################################################
# OSX / Other Files
###############################################################################
**/.DS_Store
**/~$*
**/doxygen/**
**/*.bak
doxygen/**
**/.deps/**

###############################################################################
# IDA Database Files
###############################################################################
*.id0
*.id1
*.id2
*.nam
*.til

tmp/**
*.dot
*.png
*.log
*.txt
*.pid
__pycache__/**
*.pyc
pcaps/**
